body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.row
{
    display: table;
    width: 100%;
}

.c3{
    display: table;
    float: left;
    width: 30%;
}
.c9{
    display: table;
    float: left;
    width: 70%;
}

.container
{
    width: 1300px;
    display: table;
    margin: auto;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 25px 35px;
  text-decoration: none;
  font-weight: bold;
}

ul.nav li a:hover:not(.active) {
  background-color: #111;
  color: white;
  font-weight: bold;
}

ul.nav .hovered {
    background-color: #111;
    color: white;
    font-weight: bold;
}

ul.nav .active {
  font-weight: bold;
  border-bottom: 2px solid;
}


/* keranjang */
.count-cart
{
    background: black;
    color: white;
    padding: 5px;
    border-radius: 100px;
}

/* product */
.product
{
    width: 24%;
    display: table;
    float: left;
    margin: 0.5%;
    border: 1px solid #f0f0f0;
}

.product-desc
{
    padding: 0;
    margin: 0;
    text-align: center;
}
.product-desc h5,.product-desc h4
{
    padding: 0;
    margin: 3px;
}
.product-desc button
{
    background:black;
    border:1px solid black;
    color: white;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
}

.testi-img
{
    border-radius: 100%;
}